<div>
  <button class="btn primary-btn" (click)="openModal()">Ajouter produit</button>
</div>

<button class="btn" (click)="goToPanier()">Voir le panier</button>

<div class="produits-container">
  <div class="produit-card" *ngFor="let produit of produits">
    <div class="card-header">
      <h3>{{ produit.nom }}</h3>
      <p class="prix">{{ produit.prix | currency }}</p>
    </div>
    <div class="card-content">
      <p><strong>Stock:</strong> {{ produit.quantiteEnStock }}</p>
      <p><strong>Seuil Min:</strong> {{ produit.seuilMin }}</p>
      <p><strong>Seuil Max:</strong> {{ produit.seuilMax }}</p>
    </div>
    <div class="card-actions">
      <button class="btn primary-btn" (click)="ajouterAuPanier(produit)">
        <i class="fas fa-cart-plus"></i> Ajouter au panier
      </button>
      <button class="btn accent-btn" (click)="openAddCommandeDialog(produit)">
        <i class="fas fa-shopping-basket"></i> Commander
      </button>
      
      
      <button class="btn danger-btn" (click)="deleteProduit(produit.id!)">
        <i class="fas fa-trash"></i> Supprimer
      </button>
    </div>
  </div>
</div>
