<div class="modal-container">
  <h2>{{ data?.id ? 'Modifier le produit' : 'Ajouter un produit' }}</h2>
  
  <form [formGroup]="produitForm" (ngSubmit)="addProduit()">
    <div class="form-field">
      <label for="nom">Nom</label>
      <input type="text" id="nom" formControlName="nom" required placeholder="Entrez le nom du produit">
    </div>
    
    <div class="form-field">
      <label for="prix">Prix</label>
      <input type="number" id="prix" formControlName="prix" required placeholder="Entrez le prix du produit">
    </div>

    <div class="form-field">
      <label for="quantiteEnStock">Quantité en stock</label>
      <input type="number" id="quantiteEnStock" formControlName="quantiteEnStock" required placeholder="Entrez la quantité en stock">
    </div>

    <div class="form-field">
      <label for="seuilMin">Seuil Min</label>
      <input type="number" id="seuilMin" formControlName="seuilMin" required placeholder="Entrez le seuil minimum">
    </div>

    <div class="form-field">
      <label for="seuilMax">Seuil Max</label>
      <input type="number" id="seuilMax" formControlName="seuilMax" required placeholder="Entrez le seuil maximum">
    </div>
    <div class="form-field">
      <label for="fournisseur">Fournisseur</label>
      <select id="fournisseur" formControlName="fournisseur" required>
        <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">
          {{ fournisseur.nom }}
        </option>
      </select>
    </div>
    

    <div class="form-actions">
      <button type="button" class="cancel-btn" (click)="closeDialog()">Annuler</button>
      <button type="submit" class="submit-btn" [disabled]="produitForm.invalid">Sauvegarder</button>
    </div>
  </form>
</div>
